mr-app {
    line-height: 100%;
    font-size: 16px;
    color:black;
}

.nav {
    --space-around: 20px; 
    --height: 72px;
    position:fixed; 
    display: flex;
    flex-direction: row; 
    bottom: var(--space-around);
    left: var(--space-around);
    width: calc(100% - var(--space-around) - var(--space-around));
    height: var(--height);
    background-color: green;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    border-radius: 20px;
    z-index: 2;

}

.stack {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 10px;
    padding: 0 30px;
}

.stack2 {
    display: flex; 
    flex-flow: column nowrap;
    align-items: center; 
    gap: 10px; 
    padding: 0 30px; 
}

.tight-stack {
    display: flex;
    flex-flow: column nowrap;
    gap: 0;
}

mr-button {
    padding: 10px; 
    margin-bottom: 15px;
    font-size: 20px; 
    color: black;
    background-color: greenyellow; 
}


.button-order{
    padding: 10px;
    margin-bottom: 15px;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 500;
    color: white;
    background-color:#FF7A00;
}

/* hover displays grey at default bug or feature? */
mr-button.button-order:hover{
    background-color: blue;
}

mr-button.hover {
    background-color: lightslategrey;
    color: white;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: start; 
    justify-content: start;
    gap: 20px;
    letter-spacing: 1px;
    line-height: 1.5;
    max-width: 520px;
}

.illustration{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
}

#desc {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
}

#cuisine {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
}

#allergens {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: bold;
}

#name {
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 600; 
    font-style: bold; 
}

/* test of panels */

  .col-1{
    grid-column: 1;
  }

  .col-2{
    grid-column: 2;
  }

  .col-3{
    grid-column: 3;
  }

  .col-4{
    grid-column: 4;
  }

  #navbar {
    background-color: #141414;
    border-radius: 1%;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 0.5fr 0.5fr;
    padding: 10px;
    height: fit-content;
    z-index: 4;
  }

  #tabbar {
    background-color: #b1b1b1;
    border-radius: 1%;
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 1vh;
    height: fit-content;
    z-index: 0;
  }

  #tabbar * {
    margin: 0 10px;
  }

  .front {
    z-index: 0;
  }

  .title {
    font-family: var(--font-title);
    font-size: 6vw;
    line-height: 100%;
    color: rgba(24, 24, 24, 0.75);
    align-self: center;

  }

  .title-2 {
    font-family: var(--font-title);
    font-size: 5vw;
    margin-bottom: 1vh;
    line-height: 100%;
    color: rgba(24, 24, 24, 0.75);
    align-self: center;
    margin: 0 auto;
  }
  .subtitle {
    font-family: var(--font-title);
    font-size: 3vw;
    margin-bottom: 1vh;
    line-height: 100%;
    color: rgba(24, 24, 24, 0.75);
  }

  .label {
    font-family: var(--font-title);
    font-size: 2vw;
    line-height: 100%;
    color: rgba(24, 24, 24, 0.75);
  }

  .label-2 {
    font-family: var(--font-title);
    font-size: 1.5vw;
    line-height: 100%;
    color: rgba(24, 24, 24, 0.75);
  }

  .button {
    padding: 10px;
    margin: 10px;
    width: fit-content;
  }
